@charset "utf-8";
/* CSS Document */

/* MARCO EXTERNO */
body
{
	font-size:11px;
}

#marco-principal.portada
{ 
	margin-top:141px;
}

#marco-principal.portada.desplazado
{ 
	margin-top:127px;
}

#marco-principal,
#marco-principal.ingles
{ 
	margin-top:115px;
}

#marco-principal.desplazado,
#marco-principal.ingles.desplazado
{ 
	margin-top:88px;
}

.contenido-interno
{	
	width:970px;
}

.contenido-interno.hijo
{
	margin:30px auto 30px auto;
}

/* FIN MARCO EXTERNO */

/* MARCO INTERNO */
#encabezado
{
	height:82px;
	padding:10px 0 10px 0;
}

#encabezado.desplazado
{
	height:56px;
	padding:4px 0 4px 0;
}

#encabezado .centro
{
	left:640px;	
}

#encabezado .izquierda a
{	
	width:150px; 
	height:56px;
}

#encabezado .logo
{
	padding-left:10px;
	left:160px;
	font-size:26px;	
	height:56px;
	line-height:56px;
}

#encabezado.desplazado .izquierda a
{
	width:410px;
	height:50px;
}

#encabezado.desplazado .logo
{
	left:420px;
	height:48px;
	line-height:48px;
}

#encabezado .derecha div.busqueda div.entradas input.texto
{
	width:150px;
	height:18px;
}

#encabezado .derecha ul.menu-iconos
{
	margin:3px 0 0 0;
}

#encabezado .derecha ul.menu-iconos li
{
	width:31px;
	height:18px;
}

#encabezado .derecha ul.menu-iconos li > span,
#encabezado .derecha ul.menu-iconos li > a
{
	font-size:11px;
	height:18px;
	line-height:18px;
	width:31px;
}

#encabezado.desplazado .derecha
{
	margin-top:5px;
}

#encabezado.desplazado .derecha ul.funciones
{
	margin-bottom:1px;
}

#encabezado .derecha ul.funciones li > span,
#encabezado .derecha ul.funciones li > a
{
	height:18px;
	line-height:18px;
}

#centro-arriba
{
	top:82px;
	border-bottom:2px solid #CCCCCC;
}

#centro-arriba.desplazado
{
	top:56px;
}

#centro-arriba ul.menu
{
	margin-top:8px;
	margin-bottom:8px;
}

#centro-arriba.desplazado ul.menu
{
	margin-top:3px;
	margin-bottom:3px;
}

#centro-arriba .mostrar-menu
{
	top:6px;
	right:6px;
}

#centro-arriba.desplazado .mostrar-menu
{
	top:1px;
}

#centro-arriba ul.menu li > a
{
	font-size:12px;
}

#centro-arriba ul.menu li ul.enlaces
{
	min-height:202px;
}

#centro-arriba.desplazado ul.menu li ul.enlaces
{
	min-height:212px;
}

#centro-arriba ul.menu li ul.enlaces li a
{
	font-size:10px;
}

div.lateral fieldset
{
	margin:0 0 7px 0;
	padding:0 5px 5px 5px;
}

div.columna-izquierda
{		
	width:194px;
	max-width:194px;
	padding:10px;
}

div.columna-izquierda ul.menu li
{
	min-height:26px;
	margin:3px 0 3px 0;
	padding:3px;
}

div.columna-principal .borde
{
	padding:4px;
	margin-left:4px;
	margin-right:4px;
}

div.columna-derecha
{
	width:194px; 
	max-width:194px;
	padding:10px;
}
/* FIN MARCO INTERNO */

/* INTERNO */

/*** Columna central ***/

div.texto-interno
{
	margin-top:15px;
}

div.texto-interno h1
{
	margin-bottom:10px;
}

div.columna-principal h1, 
div.columna-principal h1 a
{
	font-size:16px;
	line-height:100%;
}

div.columna-principal h1.noticia,
div.columna-principal h1.noticia a
{
	font-size:20px;
	line-height:110%;
}

div.columna-principal h2
{
	min-width:87px;
}

div.columna-principal h2, 
div.columna-principal h2 a, 
div.box h2, 
div.box h2 a
{
	font-size:14px;
}

.portada div.columna-principal h2, 
.portada div.columna-principal h2 a
{
	font-size:12px;
	margin:10px 0 10px 0;
}

div.columna-principal h2.comentarios, 
div.columna-principal h2.comentarios a
{
	font-size:12px;
	margin:18px 0 18px 0;
}

div.columna-principal h2.listado, 
div.columna-principal h2.listado a
{
	font-size:16px;
	margin:16px 0 10px 0;
}

div.columna-principal span.resaltado
{
	font-size:10px;
}

div.columna-principal h3, div.columna-principal h3 a, 
div.box h3, div.box h3 a
{
	font-size:14px;
	margin:16px 0 10px 0;
}

div.columna-principal h3.listado, 
div.columna-principal h3.listado a
{
	font-size:12px;
	margin:10px 0 5px 0;
}

div.columna-principal h4, div.columna-principal h4 a
{
	font-size:12px;
	margin:15px 0 9px 0;
}

div.columna-principal a.icono
{
	font-size:8px;
}

div.columna-principal div.titulo
{
	font-size:10px;
}

div.columna-principal div.noticia.detalle
{
	width:558px;
}

div.columna-principal div.barra-accesorios
{
	width:194px;
	margin-top:230px;
	padding:15px 0 15px 10px;
}

div.ruta
{
	font-size:10px;
	margin:6px 2px 6px 2px;
}

div.autor-noticia
{
	font-size:10px;
	margin:0 6px 6px 6px;
}

div.texto_interno
{
	font-size:12px;
}

/*** Fin Columna Central ***/

/*** Columna derecha ***/

div.columna-derecha h3
{
	font-size:13px;
	margin: 26px 0 8px 0;
}

/*** Fin Columna derecha ***/

/* FIN INTENRO */


/* PIE DE PAGINA */

#pie-pagina
{
	height:42px;
	font-size:11px;	
}

#marco-principal.desplazado #pie-pagina
{ 
	height:50px;
}

#pie-pagina .izquierda,
#pie-pagina .derecha
{
	height:42px;
}

#pie-pagina .derecha ul li
{
	margin:0 0 0 8px;
	padding:0 8px 0 0;
}

/* FIN PIE DE PAGINA */

/* GENERAL */

div.imagen div.pie
{
	margin-top:3px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:6px;
	line-height:11px;
}

div.imagen div.pie, .barra-accesorios div.pie
{
	font-size:11px;	
}

.barra-accesorios div.pie
{
	padding-bottom:7px;
	margin-bottom:7px;
}

/* -- form validation */

div.calendario
{
	width:180px;
	height:135px;
}

div.calendario div.fondo
{
	width:180px;
	height:135px;
}

div.actividades div.calendario table
{
	top:20px;
	right:5%;
}

div.calendario div.dia
{
	font-size:9px;
}

div.calendario div.sub_calendario
{
	font-size:14px;
}

div.calendario div.sub_calendario a
{
	font-size:14px;
}

div.calendario div.sub_calendario span
{
	font-size:16px;
}

table.calendar td
{
	line-height:12px;
}


table.calendar td.dia a
{
	font-size:10px;
}

form.link
{
	 display:inline;
}

input.link
{
	font-size:13px; 
	line-height:14pt;	
}

input.link_grande
{
	font-size:15px;  
	line-height:15pt;
}

input.link_ruta
{
	line-height:13pt;	
}

input.link_panel
{
	font-size:15px;
	line-height:15pt;
}

input.split-date
{
	margin-left:59px;
	width:110px;
	font-size:12px;
}

div.ventana
{
	width:97%;
	height:600px;
}

.parrafo 
{
	margin: 18px 0px 24px 0px;
	padding: 12px;
	min-height:100px;
}

.parrafo .thumb
{
	margin-right:10px;
	margin-bottom:10px;
	padding:16px;
}	

.album 
{
	border: 1px solid #CCC;
	background-color: #EEE;
	width:95%;
}

.album .thumb
{
	width:130px;
	height:130px;
	margin:18px;	
}

.album .thumb a
{
	margin:10px;
	width:110px;
	height:110px;
}

.thumb img.c_audio
{
	background:url(../imagenes/medium/audio_thumb.jpg);
	width:110px;
	height:60px;
}

div.caja-lateral 
{
	margin:2px 5px 12px 0; 
	padding-bottom:8px;
}

div.caja
{
	min-width:200px;
	width:180px;
}

div.progress-container > div 
{
	margin-top:4px;
	margin-bottom:4px;
	padding:0;
	min-height:30px;
	line-height:12px;	
}

div.progress-container > div a
{
	font-size:10px;
	padding:3px 10px 3px 3px;
}

div.progress-container > div a:hover
{
	text-decoration:underline;
}

.directorio .tabla
{
	min-height:18px;
	padding-left:2px;
	padding-right:2px;
}

.directorio .tabla.expandir
{
	font-size:22px;
	line-height:18px;
}

.directorio div.columna-principal h3.listado
{
	margin-top:20px;
}

div.formulario .columna.expande, .tabla .columna.expande
{
	font-size:11px;
}

div.formulario .iconos-comentarios, div.formulario  .iconos-funciones-articulo, .tabla .iconos-comentarios, .tabla  .iconos-funciones-articulo
{
	width:100px;
	height:30px;
}

div.datePicker
{
	font-size:11px;
}

div.datePicker table
{
	margin-top:-20px;
}

div.datePicker table thead th.date-picker-title
{
	height:22px;
	padding:2px;
	font-size:18px;
}

div.datePicker table td,
div.datePicker table tbody th
{
	width:21px;
	height:21px;
}

div.galeria.presentacion
{
	background:#e6e6e6 url(../imagenes/medium/icono_fotos.png) 98% 95px no-repeat;
}

div.galeria div.marco
{
	width:120px;
}

div.noticia div.recuadro
{
	margin-top:20px;
	margin-bottom:20px;
	padding:3px 10px 3px 10px;
	border-bottom:4px solid #77b8e5;
}

div.noticia div.recuadro h1
{
	font-size:16px;
	border-bottom:3px solid #e6e6e6;
}

div.noticia div.recuadro h1 span
{
	padding:10px;
}

div.noticia div.recuadro h2
{
	font-size:14px;
	padding:2px;
}

div.noticia div.recuadro h3
{
	font-size:13px;
	padding:2px;
}

div.noticia div.recuadro div.texto
{
	margin:10px;
}

div.noticia table
{
	margin-top:20px;
	margin-bottom:20px;
}

div.noticia table td
{
	padding:5px;
}

div.noticia table th
{
	padding:5px;
}

select.paginas
{
	top:-20px;
}

div.escenario
{
	padding:10px;
}

div.fecha-simple div.script
{
	height:220px;
}

h1 span.dentro-titular
{
	font-size:16px;
}

ul.pestanas
{
	height:43px;
	margin-top:15px;
	margin-bottom:15px;
}

li.centrar ul.pestanas
{
	padding-left:8px;
}

ul.pestanas li
{
	font-size:11px;
	height:43px;
	min-width:72px;
}

ul.pestanas li a,
ul.pestanas li span
{
	font-size:10px;
}

ul.pestanas.directorio li a,
ul.pestanas.directorio li span
{
	font-size:12px;
}

select.paginas 
{ 
	top:-4px;
	left:45px;
}

ul.alternando
{
	margin:10px 0 0 15px;
	padding:0
}

ul.alternando li
{
	min-height:35px;
	padding:5px;
}

ul.alternando li a
{
	font-size:11px;
	line-height:11px;
}

div.caja-lateral.nube
{
	padding:10px;
}

div.actividades-recientes
{
	height:220px;
}

div.actividades-recientes div.botones
{
	height:20px;	
	top:205px;
}

div.actividades-recientes div.botones span,
div.actividades-recientes div.botones span a
{
	font-size:12px;	
}

div.actividades-recientes ul.alternando li
{
	height:48px;
}

div.actividades-recientes ul.alternando li a
{
	padding-right:8px;
}

div.actividades-recientes div.detalle
{
	width:115px;
}

div.actividades-recientes div.detalle a
{
	font-size:10px;
	line-height:10px;
}

div.actividades-recientes div.fecha
{
	width:34px;
	padding-left:10px;
	font-size:13px;
}

div.actividades-recientes div.fecha div
{
	font-size:10px;
	margin-top:-4px;
}

.resumen div.pie a
{
	font-size:10px;
	padding:0 8px 0 8px;
}

.resumen.destacado span.destaque
{
	font-size:9px;
	padding:0px 5px 0px 5px;
	right:150px;
}

.formulario .columna.izquierda a.texto
{
	top:-4px;
	left:10px;
}

.formulario .columna.derecha a.texto
{
	top:-4px;
	right:10px;
}

li.comentario
{
	min-height:55px;
}

li.comentario span.nombre
{
	font-size:14px;
}

li.comentario span.fecha
{
	font-size:11px;
}

.actividades-principal div.actividades
{
	height:195px;
	padding-top:8px;	
}

.actividades-principal div.actividades div.botones
{
	margin-top:175px;
}

.actividades-principal .actividades ul.alternando li
{
	height:44px;
}

.texto-principal
{
	margin:10px;
}

.texto-principal p
{
	font-size:11px;
}

div#multicolumnas2, .multicolumnas2 
{
	-moz-column-gap:16px;
	-webkit-column-gap:16px;
	column-gap:16px;
	width:864px;
}

div#multicolumnas3, .multicolumnas3 
{
	-moz-column-gap:13px;
	-webkit-column-gap:13px;
	column-gap:13px;
	width:864px;
}

/* FIN GENERAL */

div.destacado
{
	min-height:165px;
}

div.destacado .texto
{
	width:360px;
}

div.destacado .texto h1, div.destacado .texto h2
{
	color:#F39800;
	margin:2px;
}

div.destacado .texto h2
{
	font-weight:bold;
	margin-top:6px;
}

div.destacado .sin-imagen
{
	width:392px;
	height:165px;	
}

ul.listado li
{
	width:100%;
	max-width:760px;
	max-height:165px;
	margin:16px 0 16px 0;
}

ul.listado li > div.imagen
{
	width:120px;
	height:165px;
}

ul.listado li div.imagen div.titular
{
	width:120px;
	height:48px;
	top:110px;
	padding:0 3px 3px 3px;
}

#marco-principal.multimedios ul.listado li.primera div.imagen div.titular
{
	top:275px;
	width:372px;
}

ul.listado li div.imagen .imagen, 
ul.listado li div.imagen .imagen img
{
	width:118px;
}

#marco-principal.multimedios div.galeria
{
	padding:8px 8px 30px 8px;
	margin:8px 0 8px 0;
	min-height:410px;
}

#marco-principal.multimedios.principal ul.listado li div.imagen .imagen img,
div.columna-derecha .escenario.imagen img
{
	width:164px;
	height:113px;
}

#marco-principal.multimedios.principal ul.listado div.imagen
{
	width:268px;
	height:118px;
}

#marco-principal.multimedios.principal ul.listado div.imagen .secundaria,
#marco-principal.multimedios.principal ul.listado li.secundaria div.imagen .imagen
{
	width:173px;	
}

#marco-principal.multimedios.principal ul.listado li.secundaria div.imagen div.titular
{
	width:107px;
}

ul.listado li div.contenedor
{
	font-size:11px;
	padding:6px;
	min-height:165px;
}

ul.listado.noticias li div.contenedor,
ul.listado.eventos li div.contenedor
{
	padding:6px 50px 6px 6px;
}

ul.listado h5
{
	max-width:542px;
	font-size:14px;
	line-height:14px;
	margin:4px 0 4px 0;
}

ul.listado h5 a,
ul.listado.evento h5 a
{
	font-size:14px;
	line-height:14px;
}

ul.listado li div.pie
{
	height:20px;
	line-height:20px;
}

ul.listado li .expandir
{
	margin-top:-16px;
	height:16px;
	font-size:22px;
	line-height:16px;
	padding-right:134px;
	left:118px;
}

ul.listado li h1
{
	margin:6px 0 6px 0;
}

ul.listado li h2
{
	margin:5px 0 5px 0;
}

ul.listado li h3
{
	margin:4px 0 4px 0;
}

div.imagen.destacada.interna
{	
	margin:0 15px 0 15px;
}

div.noticia div.imagen.destacada.interna.primera
{
	right:-194px;
}

div.imagen-destacada,
div.imagen-destacada-marco
{	
	top:-30px;
	right:-8px;
	width:392px;
	height:264px;
}

div.noticia div.imagen-destacada-marco
{		
	width:206px;
}

div.fecha
{
	width:34px;
	height:51px;
	top:0px;
	right:10px;
}

.principal div.fecha,
.noticia div.fecha
{
	top:-29px;
	right:0;	
}

div.ribete 
{
	width:34px;
	height:17px;
	top:51px;
	right:10px;
}

.principal div.ribete ,
.noticia div.ribete 
{
	top:22px;
	right:0;
}

.noticia div.fecha,
.noticia div.ribete
{
	right:-194px;	
}

div.ribete span.left 
{
	border-top:9px solid #FDB727;
	border-right:17px solid transparent;
}

div.ribete span.right
{
	border-top:9px solid #FDB727;
	border-left:17px solid transparent;
}

div.fecha span
{
	font-size:14px;
}

ul.listado div.detalle
{
	top:40px;
}

li.entrada-listado
{
	max-height:190px;
	padding-bottom:40px;
	overflow:hidden;
}

li.entrada-listado h3
{
	margin-top:9px;
}

div.galeria-reportaje
{
	max-width:565px;
}

div.galeria-reportaje > a
{ 
	max-width:614px;
	max-height:434px;
}


/************** Destaque de noticias ***********/

.destaque-portada.principal
{
	height:264px;
}

.destaque-portada.noticias
{
	width:970px;
	height:277px;
}

.destaque-portada.noticias .noticias
{
	width:1100px;
	margin-left:-25px;
}

.destaque-portada.principal .noticias
{
	width:4147px; /* El ancho de un panel multiplicado por la cantidad de paneles a desplegar (7) */
}

.destaque-portada .noticias .flecha.atras
{
	top:230px;
	left:1750px;
	border-width:11px 11px 11px 0;
}

.destaque-portada .noticias .flecha.delante
{
	top:230px;
	left:2368px;
	border-width:11px 0 11px 11px;	
}

.destaque-portada.noticias .ruta
{
	margin:8px 17px 8px 17px;
}

.destaque-portada .noticias .panel
{
	width:590px;
	height:264px;
}

.destaque-portada.principal .noticias .panel .noticia .texto a.leer-mas
{
	height:29px;
	line-height:29px;
	padding-right:14px;
}

.destaque-portada.noticias .noticias .panel.textos
{
	width:410px;
}

.destaque-portada .noticias .noticia .izquierda
{
	width:392px;
	height:264px;
}

.destaque-portada .noticias .noticia .texto
{
	padding:10px 12px 10px 12px;
}

.destaque-portada .noticias .noticia .derecha
{
	width:198px;
	height:264px;
	overflow:hidden;
}

.destaque-portada .noticias .noticia .derecha div
{
	height:235px;
}

.destaque-portada .noticias .noticia.secundaria
{
	display:block;
	height:88px;
	overflow:hidden;
	border-bottom:1px solid #666666;
}

.destaque-portada .noticias .noticia.secundaria .texto
{
	width:418px;
	height:88px;
	padding:4px;
	overflow:hidden;
}

.destaque-portada .noticias .noticia.secundaria .imagen
{
	width:172px;
	height:88px;
	padding:0;
	overflow:hidden;
}

.destaque-portada .noticias .noticia .texto h1, .destaque-portada .noticias .noticia .texto h1 a
{
	font-size:15px;
	line-height:15px;
	margin-bottom:3px;
}

.destaque-portada .noticias .noticia .texto .sub, .destaque-portada .noticias .noticia .texto a.sub
{
	font-size:12px;
}

/************** Fin destaque de noticias ***********/

div.autores-categoria
{
	margin:10px 0 10px 0;
}

div.autores-categoria,
div.autores-categoria a
{
	font-size:11px;
}

.comentarios
{
	min-width:20px;
}

.comentarios .cantidad
{
	height:25px;
	min-width:25px;
}

div.globo.comentario
{
	min-width:38px;
	height:40px;
}

div.globo.comentario div.contenedor-firefox:before
{
	left:-6px;
	border-top:6px solid transparent;
	border-right:6px solid #FFB800;
	border-bottom:6px solid transparent;
}

.comentarios.icono div
{
	padding:0 8px 0 8px;
}

.comentarios.icono div:before
{
	top:4px;
	left:-6px;
	border-top:4px solid transparent;
	border-right:6px solid #204D6F;
	border-bottom:4px solid transparent;
}

div.etiquetas
{
	margin-top:7px;
	font-size:11px;
	min-height:42px;
	padding:2px;
}

span.subir
{
	top:-15px;
	margin-left:4px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:14px solid #4D4D4D;
}

.pdf-icon, 
.email-icon, 
.print-icon
{
	margin:7px 0 7px 0;
}

.pdf-icon a, 
.email-icon a, 
.print-icon a
{
	width:22px;
	height:21px;
	margin-right:1px;	
}

.pdf-icon a
{
	background:#1E4B70 url(../imagenes/medium/pdf.png);
}

.email-icon a
{
	background:#1E4B70 url(../imagenes/medium/correo.png);
}

.print-icon a
{
	background:#1E4B70 url(../imagenes/medium/imprimir.png);
}

div.iconos-funciones-articulo a.facebook
{
	background:#1E4B70 url(../imagenes/medium/facebook.png);
}

div.iconos-funciones-articulo a.twitter
{
	background:#1E4B70 url(../imagenes/medium/twitter.png);
}

div.columna-derecha ul.menu
{
	padding:6px 0 6px 0;
}

div.columna-derecha ul.menu li span, 
div.columna-derecha ul.menu li a
{
	font-size:15px;
}

div.columna-derecha ul.menu li
{
	width:175px;
	height:41px;
	margin-bottom:4px;
}

div.columna-derecha ul.menu ul li.caja
{
	height:86px;
}

#marco-principal.multimedios.principal ul.listado
{
	width:738px;	
}

#marco-principal.multimedios.principal ul.listado li
{
	width:268px;
	height:162px;
	margin:0 8px 8px 0;
}

#marco-principal.multimedios.principal ul.listado li.foto,
#marco-principal.multimedios.principal ul.listado li.video
{
	background-position:0 54px;
	background-size:63px 105px;
}

#marco-principal.multimedios.principal ul.listado li .imagen.principal
{
	width:372px;
	height:326px;
}

#marco-principal.multimedios.principal ul.listado li .imagen.principal .imagen
{
	width:372px;
	height:264px;
}

#marco-principal.multimedios.principal ul.listado li .imagen.principal .titular,
#marco-principal.multimedios.principal ul.listado li .imagen.principal .titular a
{
	font-size:14px;
}

#marco-principal.multimedios.principal ul.listado li:first-child
{
	width:372px;
	height:334px;
	margin-right:14px;
}

#marco-principal.multimedios.principal ul.listado li.audio
{
	width:330px;
	height:107px;
}

#marco-principal.multimedios.principal ul.listado li.audio .contenedor
{
	width:326px;
}

#marco-principal.multimedios.principal ul.listado li.documento
{
	width:330px;
	height:107px;
	padding:14px;
	margin-right:14px;
}

div.titulares
{
	padding:10px 10px 10px 0;
}

div.destaque .imagen
{
	width:542px;
}

div.destaque
{
	min-height:365px;
}


ul.menu-perfiles
{
	height:26px;
	padding:4px 0 0 0;
}

ul.menu-perfiles li
{
	width:220px;
}

ul.menu-perfiles li a, 
ul.menu-perfiles li span
{
	font-size:14px;
}

.columna.accesorios
{
	width:33px;
	min-width:33px;
}

div.menu-accesorios
{
	top:25px;
}

ul.menu-accesorios
{
	width:33px;
}

ul.menu-accesorios li
{
	width:33px;
	height:33px;
}

#multimedios
{
	min-height:303px;
}

#multimedios ul.agenda-cultural li
{
	margin:18px;
}

#multimedios ul.agenda-cultural li a
{
	font-size:20px;
}

#multimedios .pizarra
{
	width:361px;
	height:303px;
	margin:0 4px 0 4px;
}

#multimedios .pizarra .contenedor
{
	width:361px;
	height:269px;
	border:29px #ccc solid;
}

#multimedios .pizarra .boton
{
	top:36px;
	width:25px;
	height:269px;	
}

#multimedios > .eventos div.panel,
.columna-derecha div.panel
{
	width:175px;
	height:303px;
}

#multimedios > .eventos div.panel
{
	margin:0 4px 0 4px;
}

#multimedios > .eventos div.panel.galerias,
#multimedios > .eventos div.panel.lo-ultimo,
#multimedios > .eventos div.panel.recientes
{
	margin-right:6px;
}

#multimedios > .eventos div.panel .fondo,
.columna-derecha div.panel .fondo
{
	height:269px;
}

#multimedios .panel h3, 
#multimedios .panel h3 a
{
	font-size:18px;
}

#multimedios .pizarra .contador
{
	height:29px;
	line-height:29px;
	font-size:10px;
	bottom:5px;
}

#multimedios .pizarra .contador, 
#multimedios .pizarra .contador a
{
	font-size:10px;
}

#multimedios .pizarra .anuncio .imagen
{
	width:304px;
	height:204px;
}

.anuncios .panel ul li 
{
	height:89px;
}

.anuncios .panel.galerias ul li 
{
	height:109px;
}

.anuncios .panel.galerias ul li.audio,
#destaque-actividades,
#destaque-actividades li
{
	height:49px;
}

.anuncios .panel ul li .izquierdo
{
	width:90px;
	height:88px;
}

.anuncios .panel ul li .izquierdo .imagen, 
.anuncios .panel ul li .izquierdo .marco
{
	background-position:-40px 0;
	background-size:136px 75px;
}

.anuncios .panel ul li .izquierdo img 
{
	width:63px;
	height:88px;
}

.anuncios .panel ul li .derecho
{
	width:121px;
	height:88px;
	padding:3px;
	font-size:10px;
}

.anuncios .panel.galerias ul li .izquierdo
{
	width:90px;
	height:109px;
	padding:5px;
}

.anuncios .panel.galerias ul li + li .izquierdo
{
	width:92px;
}

.anuncios .panel.galerias ul li.audio .izquierdo
{
	height:49px;
	padding-right:35px;
}

.anuncios .panel.galerias ul li .derecho img 
{
	width:37px;
	height:41px;
}

.anuncios .panel.galerias ul li .derecho .imagen, 
.anuncios .panel.galerias ul li .derecho .marco
{
	background-position:-46px 0;
	background-size:136px 109px;
}

.anuncios .panel.galerias ul li .derecho
{
	width:81px;
	height:109px;
}

.anuncios .panel ul li.lo-ultimo a
{
	height:88px;
}

.titulos .panel
{
	width:199px;
	font-size:15px;
}

.titulos .panel a
{
	font-size:15px;
}

li.lo-ultimo
{
	padding:25px 12px 25px 12px;
}

li.lo-ultimo a, li.lo-ultimo span
{
	font-size:17px;
}

.portada .destaque-actividades ul li
{
	width:175px;
	height:60px;
}

.portada .destaque-actividades a
{
	font-size:17px;
}

.portada .panel.galerias h4
{
	margin-top:10px;
	margin-bottom:4px;
}

.portada .enlaces div.panel
{
	width:175px;
	margin:0 4px 0 4px;
}

.portada .panel.galerias h4
{
	font-size:10px;
}

.portada .panel.galerias h4 a
{
	font-size:10px;
}

a.leer-mas
{
	font-size:10px;
	right:14px;
	bottom:14px;
}

div.galeria a.leer-mas
{
	font-size:18px;	
}

a.leer-mas img
{
	width:11px;
	height:11px;
	margin-left:3px;
}

/******************* JPLAYER ***************/

.columna-derecha .jp-video,
.jp-audio
{
	max-width:400px;
}

 .jp-encabezado
{
	padding:5px;
	min-height:30px;
}

.jp-audio .jp-encabezado h3,
div.columna_derecha .jp-audio .jp-encabezado h3, 
.jp-video .jp-encabezado h3, 
div.columna_derecha .jp-video .jp-encabezado h3,
.jp-audio .jp-encabezado h3 a, 
div.columna_derecha .jp-audio .jp-encabezado h3 a, 
.jp-video .jp-encabezado h3 a, 
div.columna_derecha .jp-video .jp-encabezado h3 a,
div.columna_principal .jp-audio .jp-encabezado h3 a, 
div.columna_principal .jp-video .jp-encabezado h3 a
{
	font-size:11px;
	margin-bottom:-3px;	
}

.jp-audio .jp-encabezado h4, 
.jp-video .jp-encabezado h4
{
	font-size:10px;
}

.jp-audio  .contenedor-controles, 
.jp-video  .contenedor-controles
{
	height:30px;
	padding:3px;
}

.jp-audio  .contenedor-controles
{
	margin-top:2px;	
}

.jp-controls
{	
	height:27px;
}

.jp-controls div.vol-rep
{
	width:60px;
}

.jp-controls div.volumen
{
	width:24px;
	height:24px;
}

.jp-controls div.reproduccion
{
	width:24px;
	height:24px;
}

.jp-controls div.progreso
{
	height:22px;
}

.jp-audio .jp-play, 
.jp-video .jp-play
{
	width:24px;
	height:24px;
	background:#78B60A url(../imagenes/medium/reproducir.png);
}

.jp-audio .jp-play:hover, 
.jp-video .jp-play:hover
{
	background:#23261D url(../imagenes/medium/reproducir.png);
}

.jp-audio .jp-pause, 
.jp-video .jp-pause
{
	width:24px;
	height:24px;
	background:#78B60A url(../imagenes/medium/pausa.png);
}

.jp-audio .jp-pause:hover, 
.jp-video .jp-pause:hover
{
	background:#23261D url(../imagenes/medium/pausa.png);
}

.jp-audio .jp-mute, 
.jp-video .jp-mute
{
	left:-4px;
	width:24px;
	height:24px;
	background:#78B60A url(../imagenes/medium/volumen.png);
}

.jp-audio .jp-unmute, 
.jp-video .jp-unmute
{
	left:-4px;
	width:24px;
	height:24px;
	background:white url(../imagenes/medium/volumen-muted.png);
}

.jp-progress
{
	height:14px;
	margin-top:6px;	
}

.jp-buffer-bar
{
	height:18px;
}

.jp-play-bar
{
	height:18px;
}

.jp-seek-bar
{
	height:18px;
}

.jp-current-time
{
	top:-6px;
	font-size:10px;
}

.jp-audio .barra-volumen, 
.jp-video .barra-volumen
{
	height:4px;
	width:80px;
	bottom:15px;
	left:5px;
}

.jp-volume-bar
{
	height:4px;
}

.jp-volume-bar-value
{
	height:4px;
}

/****************************/
div.jp-video-150p
{
	width:150px;
}

div.jp-video-180p
{
	width:180px;
}

div.jp-video-200p
{
	width:200px;
}

div.jp-video-400p
{
	width:400px;
}

div.jp-video-480p
{
	width:480px;
}
div.jp-video-640p
{
	width:462px;
}

div.jp-video-640
{
	width:462px;
}

/* 0,5625 * el ancho es el alto */
div.jp-video-150p div.jp-jplayer
{
	width:150px;
	height:84px;
}

div.jp-video-180p div.jp-jplayer
{
	width:180px;
	height:101px;
}

div.jp-video-200p div.jp-jplayer
{
	width:200px;
	height:112px;
}

div.jp-video-400p div.jp-jplayer 
{
	width:400px;
	height:225px;	
}

div.jp-video-480p div.jp-jplayer 
{
	width:480px;
	height:270px;
}

div.jp-video-640  div.jp-jplayer 
{
	width:462px;
	height:480px;	
}

div.jp-video-640p  div.jp-jplayer,
div.jp-video-640p  div.jp-jplayer object,
div.jp-video-640p  div.jp-jplayer video
{
	width:462px !important;
	height:260px !important;	
}

.jp-jplayer div.error
{
	font-size:16px;
	padding:10px;
}

/* ************** JPLAYER **************** */

.formulario .siguiente,
.formulario .ultima
{
	border-top:4px solid transparent;
	border-left:9px solid #666;
	border-bottom:4px solid transparent;
}

.formulario .anterior,
.formulario .primera
{
	border-top:4px solid transparent;
	border-right:9px solid #666;
	border-bottom:4px solid transparent;
}

.formulario .ultima:after,
.formulario .primera:before 
{
   height:8px;
   margin-top:-4px;
}

#menu-incrementa-letra
{
	background:transparent url(../imagenes/medium/inc-letra-blanco.png) no-repeat;
}

#menu-decrementa-letra
{
	background:transparent url(../imagenes/medium/dec-letra-blanco.png) no-repeat;
}

#menu-eng
{
	background:transparent url(../imagenes/medium/eng.png) no-repeat;
}

#menu-lang
{
	background:transparent url(../imagenes/medium/lang.png) no-repeat;
}

.ingles #menu-eng
{
	background:transparent url(../imagenes/medium/esp.png) no-repeat;
}

#menu-loguear
{
	background:transparent url(../imagenes/medium/loguear.png) no-repeat;
}

#menu-desloguear
{
	background:transparent url(../imagenes/medium/ico-salir.png) no-repeat;
}

#encabezado .derecha ul.menu-iconos li .globo
{
	border:16px solid #b2dcf3;
	padding:6px;
}

#encabezado .derecha ul.menu-iconos li .globo.traducciones
{
	width:300px;
	min-height:160px;
}

#encabezado .derecha ul.menu-iconos li .globo.busqueda
{
	width:470px;	
}

.globo h1
{
	font-size:16px;
	padding:6px;
}

.globo h2
{
	font-size:14px;
	padding:4px;
}

#encabezado .derecha ul.menu-iconos li.menu-buscar
{
	width:124px;
}

#encabezado .derecha ul.menu-iconos li.menu-buscar div.entradas,
#encabezado .derecha div.search
{
	width:124px;
	height:18px;
}

#encabezado .derecha li.menu-buscar div.entradas input.texto,
#encabezado .derecha div.search input#mod-search-searchword
{
	width:93px;
	height:18px;
}

#encabezado .derecha li.menu-buscar div.entradas input.boton,
#encabezado .derecha div.search input.button
{
	background:#4f7290 url(../imagenes/x-large/buscar-blanco.png) no-repeat;
	background-position:4px;
	width:39px;
	height:18px;
}

#encabezado .derecha li.menu-buscar div.entradas input.boton.activo,
#encabezado .derecha li.menu-buscar div.entradas input.boton:hover
{
	background:#b2dcf3 url(../imagenes/medium/buscar-blanco.png) no-repeat;
	background-position:4px;
}


.camera_thumbs_cont ul li
{
	width:72px;
	height:61px;
}

#compartir
{
	width:722px;
	height:506px;
	margin-left:-361px;
	margin-top:-253px;
}

/*************** TUTORIAL ***********/
.tut-globo .textos
{
	height:102px;
	width:290px;
	padding:10px;
}

.tut-globo h1
{
	font-size:24px;
}

#tut-inicio .textos,
#tut-fin .textos
{
	width:434px;
	height:204px;
}

.tut-globo .tabla
{
	height:50px;
}

.tut-paso-anterior,
.tut-paso-siguiente,
.tut-reiniciar
{
	width:128px;
}

.tut-globo .tabla .columna,
.tut-globo .tabla .columna.expande
{
	font-size:12px;
	padding:10px;
}

#tut-inicio
{
	width:434px;
	height:285px;
	margin-left:-217px;
	margin-top:-143px;
}

#tut-arquetipos
{
	width:290px;
	height:170px;
	margin-left:-170px;
	top:160px;
}

#tut-consulta
{
	width:290px;
	height:170px;
	top:60px;
	right:-40px;
}

#tut-noticias
{
	width:290px;
	height:170px;
	margin-left:80px;
	top:410px;		
}

#tut-secciones
{
	width:290px;
	height:230px;
	margin-left:-145px;
	top:340px;	
}

#tut-preguntas
{
	width:290px;
	height:170px;
	top:130px;
	right:70px;
}

#tut-actividad
{
	width:290px;
	height:170px;
	top:250px;
	margin-left:-145px;
}

#tut-estudiantes
{
	width:290px;
	height:170px;
	top:550px;
	margin-left:-400px;
}

#tut-fin
{
	width:434px;
	height:285px;
	margin-left:-217px;
	margin-top:-143px;
}

#tut-arquetipos:before,
#tut-consulta:before,
#tut-noticias:before,
#tut-secciones:before
{	
	left:50%;
	margin-left:-7px;
	top:-14px;
	border-left:14px solid transparent;
	border-right:14px solid transparent;
	border-bottom:14px solid #F99D1F;
}

#tut-actividad:before
{	
	left:50%;
	margin-left:-7px;
	bottom:-14px;
	border-left:14px solid transparent;
	border-right:14px solid transparent;
	border-top:14px solid #CC7B1B;
}

#tut-preguntas:before
{
	top:50%;
	margin-top:-7px;
	right:-14px;
	border-top:14px solid transparent;
	border-left:14px solid #F99D1F;
	border-bottom:14px solid transparent;
}

#tut-estudiantes:before
{	
	bottom:-7px;
	left:-7px;
	border-bottom:14px solid #CC7B1B;
	border-right:14px solid transparent;
}

#tut-estudiantes:after
{	
	left:50%;
	margin-left:-7px;
	bottom:-14px;
	border-left:14px solid transparent;
	border-right:14px solid transparent;
	border-top:14px solid #CC7B1B;
}

/******* FIN TUTORIAL ********/

#mosaico
{
	margin:8px 5% 8px 5%;
}

#mosaico .wrapper
{
	width:206px;
	height:72px;
}

#mosaico .wrapper img
{
	margin-top:4px;
}
  
#mosaico .wrapper span
{
	width:199px;
	margin-top:3px;
	height:65px;
	line-height:72px;
}

a.cat-accion-social
{
	background:#FDB727 url(../imagenes/medium/categorias/accion-social.png) no-repeat;
}

a.cat-acreditacion
{
	background:#FDB727 url(../imagenes/medium/categorias/acreditacion.png) no-repeat;
}

a.cat-administracion
{
	background:#FDB727 url(../imagenes/medium/categorias/administracion.png) no-repeat;
}

a.cat-adulto-mayor
{
	background:#FDB727 url(../imagenes/medium/categorias/adulto-mayor.png) no-repeat;
}

a.cat-ajedrez
{
	background:#FDB727 url(../imagenes/medium/categorias/ajedrez.png) no-repeat;
}

a.cat-areas-academicas
{
	background:#FDB727 url(../imagenes/medium/categorias/areas-academicas.png) no-repeat;
}

a.cat-artes-marciales
{
	background:#FDB727 url(../imagenes/medium/categorias/artes-marciales.png) no-repeat;
}

a.cat-artes-plasticas
{
	background:#FDB727 url(../imagenes/medium/categorias/artes-plasticas.png) no-repeat;
}

a.cat-arte-y-cultura
{
	background:#FDB727 url(../imagenes/medium/categorias/arte-y-cultura.png) no-repeat;
}

a.cat-asuntos-administrativos
{
	background:#FDB727 url(../imagenes/medium/categorias/asuntos-administrativos.png) no-repeat;
}

a.cat-asuntos-internacionales
{
	background:#FDB727 url(../imagenes/medium/categorias/asuntos-internacionales.png) no-repeat;
}

a.cat-atletismo
{
	background:#FDB727 url(../imagenes/medium/categorias/atletismo.png) no-repeat;
}

a.cat-baloncesto
{
	background:#FDB727 url(../imagenes/medium/categorias/baloncesto.png) no-repeat;
}

a.cat-capacitacion
{
	background:#FDB727 url(../imagenes/medium/categorias/capacitacion.png) no-repeat;
}

a.cat-catedras
{
	background:#FDB727 url(../imagenes/medium/categorias/catedras.png) no-repeat;
}

a.cat-centros-e-institutos
{
	background:#FDB727 url(../imagenes/medium/categorias/centros-e-institutos.png) no-repeat;
}

a.cat-ciclismo
{
	background:#FDB727 url(../imagenes/medium/categorias/ciclismo.png) no-repeat;
}

a.cat-ciencias-agroalimentarias
{
	background:#FDB727 url(../imagenes/medium/categorias/ciencias-agroalimentarias.png) no-repeat;
}

a.cat-ciencias-basicas
{
	background:#FDB727 url(../imagenes/medium/categorias/ciencias-basicas.png) no-repeat;
}

a.cat-ciencias-sociales
{
	background:#FDB727 url(../imagenes/medium/categorias/ciencias-sociales.png) no-repeat;
}

a.cat-cine
{
	background:#FDB727 url(../imagenes/medium/categorias/cine.png) no-repeat;
}

a.cat-conare
{
	background:#FDB727 url(../imagenes/medium/categorias/conare.png) no-repeat;
}

a.cat-consejo-universitario
{
	background:#FDB727 url(../imagenes/medium/categorias/consejo-universitario.png) no-repeat;
}

a.cat-coreografia-aerobica
{
	background:#FDB727 url(../imagenes/medium/categorias/coreografia-aerobica.png) no-repeat;
}

a.cat-cursos
{
	background:#FDB727 url(../imagenes/medium/categorias/cursos.png) no-repeat;
}

a.cat-danza
{
	background:#FDB727 url(../imagenes/medium/categorias/danza.png) no-repeat;
}

a.cat-deporte-y-recreacion
{
	background:#FDB727 url(../imagenes/medium/categorias/deporte-y-recreacion.png) no-repeat;
}

a.cat-docencia
{
	background:#FDB727 url(../imagenes/medium/categorias/docencia.png) no-repeat;
}

a.cat-elecciones
{
	background:#FDB727 url(../imagenes/medium/categorias/elecciones.png) no-repeat;
}

a.cat-esgrima
{
	background:#FDB727 url(../imagenes/medium/categorias/esgrima.png) no-repeat;
}

a.cat-estudiantes
{
	background:#FDB727 url(../imagenes/medium/categorias/estudiantes.png) no-repeat;
}

a.cat-eventos-academicos
{
	background:#FDB727 url(../imagenes/medium/categorias/eventos-academicos.png) no-repeat;
}

a.cat-futbol
{
	background:#FDB727 url(../imagenes/medium/categorias/futbol.png) no-repeat;
}

a.cat-indefinido
{
	background:#FDB727 url(../imagenes/medium/categorias/indefinido.png) no-repeat;
}

a.cat-ingenieria-y-arquitectura
{
	background:#FDB727 url(../imagenes/medium/categorias/ingenieria-y-arquitectura.png) no-repeat;
}

a.cat-investigacion
{
	background:#FDB727 url(../imagenes/medium/categorias/investigacion.png) no-repeat;
}

a.cat-laboratorios
{
	background:#FDB727 url(../imagenes/medium/categorias/laboratorios.png) no-repeat;
}

a.cat-letras
{
	background:#FDB727 url(../imagenes/medium/categorias/letras.png) no-repeat;
}

a.cat-montanismo
{
	background:#FDB727 url(../imagenes/medium/categorias/montanismo.png) no-repeat;
}

a.cat-musica
{
	background:#FDB727 url(../imagenes/medium/categorias/musica.png) no-repeat;
}

a.cat-natacion
{
	background:#FDB727 url(../imagenes/medium/categorias/natacion.png) no-repeat;
}

a.cat-oficina-de-programas-deportivos
{
	background:#FDB727 url(../imagenes/medium/categorias/oficina-de-programas-deportivos.png) no-repeat;
}

a.cat-organizacion
{
	background:#FDB727 url(../imagenes/medium/categorias/organizacion.png) no-repeat;
}

a.cat-porrismo
{
	background:#FDB727 url(../imagenes/medium/categorias/porrismo.png) no-repeat;
}

a.cat-premios-y-homenajes
{
	background:#FDB727 url(../imagenes/medium/categorias/premios-y-homenajes.png) no-repeat;
}

a.cat-programas-institucionales
{
	background:#FDB727 url(../imagenes/medium/categorias/programas-institucionales.png) no-repeat;
}

a.cat-pronunciamientos
{
	background:#FDB727 url(../imagenes/medium/categorias/pronunciamientos.png) no-repeat;
}

a.cat-publicaciones
{
	background:#FDB727 url(../imagenes/medium/categorias/publicaciones.png) no-repeat;
}

a.cat-recinto-de-guapiles
{
	background:#FDB727 url(../imagenes/medium/categorias/recinto-de-guapiles.png) no-repeat;
}

a.cat-recinto-liberia
{
	background:#FDB727 url(../imagenes/medium/categorias/recinto-liberia.png) no-repeat;
}

a.cat-recinto-paraiso
{
	background:#FDB727 url(../imagenes/medium/categorias/recinto-paraiso.png) no-repeat;
}

a.cat-recinto-santa-cruz
{
	background:#FDB727 url(../imagenes/medium/categorias/recinto-santa-cruz.png) no-repeat;
}

a.cat-recinto-siquirres
{
	background:#FDB727 url(../imagenes/medium/categorias/recinto-siquirres.png) no-repeat;
}

a.cat-recinto-turrialba
{
	background:#FDB727 url(../imagenes/medium/categorias/recinto-turrialba.png) no-repeat;
}

a.cat-rectoria
{
	background:#FDB727 url(../imagenes/medium/categorias/rectoria.png) no-repeat;
}

a.cat-recursos-humanos
{
	background:#FDB727 url(../imagenes/medium/categorias/recursos-humanos.png) no-repeat;
}

a.cat-revistas-academicas
{
	background:#FDB727 url(../imagenes/medium/categorias/revistas-academicas.png) no-repeat;
}

a.cat-rugby
{
	background:#FDB727 url(../imagenes/medium/categorias/rugby.png) no-repeat;
}

a.cat-salud
{
	background:#FDB727 url(../imagenes/medium/categorias/salud.png) no-repeat;
}

a.cat-sede-regional-caribe
{
	background:#FDB727 url(../imagenes/medium/categorias/sede-regional-caribe.png) no-repeat;
}

a.cat-sede-regional-occidente
{
	background:#FDB727 url(../imagenes/medium/categorias/sede-regional-occidente.png) no-repeat;
}

a.cat-sedes-regionales
{
	background:#FDB727 url(../imagenes/medium/categorias/sedes-regionales.png) no-repeat;
}

a.cat-teatro
{
	background:#FDB727 url(../imagenes/medium/categorias/teatro.png) no-repeat;
}

a.cat-tenis
{
	background:#FDB727 url(../imagenes/medium/categorias/tenis.png) no-repeat;
}

a.cat-tiro-con-arco
{
	background:#FDB727 url(../imagenes/medium/categorias/tiro-con-arco.png) no-repeat;
}

a.cat-trabajo-comunal-universitario
{
	background:#FDB727 url(../imagenes/medium/categorias/trabajo-comunal-universitario.png) no-repeat;
}

a.cat-tramites
{
	background:#FDB727 url(../imagenes/medium/categorias/tramites.png) no-repeat;
}

a.cat-vida-estudiantil
{
	background:#FDB727 url(../imagenes/medium/categorias/vida-estudiantil.png) no-repeat;
}

a.cat-voleibol
{
	background:#FDB727 url(../imagenes/medium/categorias/voleibol.png) no-repeat;
}

a.cat-voluntariado
{
	background:#FDB727 url(../imagenes/medium/categorias/voluntariado.png) no-repeat;
}

a.cat-yoga
{
	background:#FDB727 url(../imagenes/medium/categorias/yoga.png) no-repeat;
}